---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes
WarningsAsErrors: ''
HeaderFilterRegex: '(include/mass_worker|src)/.*'
FormatStyle: file
CheckOptions:
  readability-identifier-naming.ClassCase:           CamelCase
  readability-identifier-naming.StructCase:          CamelCase
  readability-identifier-naming.EnumCase:            CamelCase
  readability-identifier-naming.FunctionCase:        lower_case
  readability-identifier-naming.VariableCase:        lower_case
  readability-identifier-naming.PrivateMemberSuffix: _
  readability-identifier-naming.ConstantCase:        lower_case
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
